# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
venv/

# IDE
.vscode/
.idea/

# Environment files
.env

# Certificates
certs/*.pem
certs/*.der
certs/*.key

# Local DB or cache
*.db
.cache/

# Test tools (optional)
test_tools/
